---
import '../styles/global.css';
import Footer from '../components/Footer.astro';

const pageTitle = "1";
---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style>
			h1 {
				color: purple;
				font-size: 4rem;
			}
		</style>
	</head>
	<body>
		<header class="site-header">
			<div class="site-brand"><a href="/">Zanhe</a></div>

			<nav class="site-nav">
				<a href="/">首页</a>
				<a href="/about">关于</a>
				<a href="/blog">博客</a>
				<a href="/posts">文章</a>
			</nav>
		</header>

		<main class="page-content">
			<h1>{pageTitle}</h1>
			<h2>Astro 2</h2>

			<p>3</p>
		</main>
	</body>
</html>
